service cloud.firestore {
  match /databases/{database}/documents {
    function validUserCreate() {
      return !(request.resource.data.keys().hasAll(["verified"]))
    }

    function validUserUpdate() {
      return request.resource.data.verified == resource.data.verified
        || (validUserCreate() && !(resource.data.keys().hasAll("verified")));
    }
    match /user/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth.id == userId && validUserCreate();
      allow update: if request.auth.uid == userId && validUserUpdate();
    }
  }
}
